h1 {
    /*color: white;*/
    font-family: verdana;
    font-size: 200%;
    text-align: center;
    color: grey;
}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
body{
    background-image: url("tag.jpg");
}

label{
	color: grey;	
	font-weight: bold;
    font-size: 18px;
    width: 413px;
    text-align: right;
    float: left;
    padding-right: 20px;
}

