<!docType html>
<html>
	<head>
		<title>Reusable Form Demo</title>
		<link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/bootstrap-theme.min.css">
		<link rel="stylesheet" type = "text/css" href="{{url_for('static', filename = 'Style.css')}}">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	</head>
	<body>
	<div class="container">
		<h1>Tag Recommender system</h1>
		<form  action="{{ url_for('move_forward') }}" method="post">
			<div class="form-group">
				<label for="name">Enter the title for the new video:</label>
				<input type="text" class="form-control" id="video_name" name="video_name" placeholder="Enter title" value = "{{video_name}}"><br><br>
				<label for="name">Channel title:</label>
				<input type="text" class="form-control" id="channel_title" name="channel_title" placeholder="Enter channel" value = "{{channel_title}}"><br><br>
				<label for="name">Video category:</label>
				<input type="text" class="form-control" id="video_category" name="video_category" placeholder="Enter video category" value = "{{video_category}}"><br><br>
				<label for="name">Video description:</label>
				<input type="text" class="form-control" id="description" name="description" placeholder="Enter video description" value = "{{description}}"></input><br><br>
			</div>
			<input type="submit" class="btn btn-success" style = "width:180px; margin-left: 350px;" value = "Get tags"</input><br>
			{% if recommendation != null %}
			<h4>The suggested tags for this video are:</h4>
				{%for elem in recommendation%}
					<strong> #{{elem[0]}} </strong> &emsp;
				{% endfor %}
			{% endif %}
		  </form>
	</body>
</html>
